@CHARSET "UTF-8";
body{margin:0 0;background:#ededef;}
*{margin:0; padding:0;}
a{text-decoration:none;}
input{border:0px;}
ul{list-style-type:none;}

/*头部*/
#top{ height:80px; background:#3a3a3a;}

#logo{float:left;width:300px;}
#logo_font{width:200px;color:#fff;font-size:36px;
margin:10px 0 0 100px;font-family:"Hiragino Sans GB","Microsoft YaHei",
"微软雅黑",tahoma,arial,simsun,"宋体";}

/*导航*/
#first_nav{float:left;width:370px;height:30px;margin:20px 0 0 150px;}
#first_nav ul{list-style-type:none;}
.nav{float:left;width:80px;height:40px;margin:20px 0 0 0 ;font-size:16px;
font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";}

#mystudy{margin-left:30px;}
.nav a{color:#dcdcdc;}
#mystudy a{color:#fff;}

#search{float:left;width:500px;height:30px;margin:40px 0 0 10px;}
#input{width:210px;height:27px;float:left;
border-radius:1px;border-right:1px solid #3a3a3a;}
#search_btn{width:30px;height:27px;background:#b3e803;
float:left;cursor:pointer;border-radius:1px;}

/* 中间*/
#main{ width:990px;height:700px; background-color:#ededef;border:0px #dcdcdc solid;
margin:18px auto 18px auto;
}

/*左侧*/
#left{width:700px;height:100%;float:left;margin:20px 0 0 0;}

/*功能*/
#hot{width:700px;height:230px;}
#hot_top{width:700px;height:100px;}
#study_span{width:100px;height:100px;float:left;background:#b3e803;}
.study_img{width:100px;height:100px;float:left;cursor:pointer;}
.today_date{display:block;color:#fff;font-size:17px;}
#year{padding:10px 0 0 25px;}
#month_day{padding:5px 0 0 15px;}
#study_label{padding:5px 0 0 15px;}

#hot_mid{width:700px;height:30px;background:#b3e803;box-shadow:1px 1px 1px #888;}

#hot_foot{width:700px;height:100px;}
.studier_img{width:100px;height:100px;float:left;cursor:pointer;}
#studier_span{width:100px;height:100px;float:right;background:#b3e803;
box-shadow:1px 1px 1px #888;}
.studier_star{display:block;color:#fff;font-size:17px;padding:5px 0 0 10px;}

/*右边*/
#right{width:240px;height:400px;float:right;margin:20px 0 0 0;
background:#fff;border-radius:1px;box-shadow:1px 1px 1px #888;}

/*登录——注册*/
#login_reg{display:none;width:200px;height:35px;margin:20px 0 0 20px;}
#login{width:100px;height:35px;float:left;
border-radius:1px;color:#fff;background:#b3e803;font-size:17px;cursor:pointer;}
#reg {width:100px;height:35px;float:left;border:1px solid #b3e803;
border-radius:1px;color:#b3e803;background:#fff;font-size:17px;cursor:pointer;}

/*用户信息*/
#user_info{width:200px;height:60px;margin:20px 0 0 20px;}
#user_img{width:60px;height:60px;border-radius:50%;float:left;cursor:pointer;}
#user_name{width:130px;height:25px;float:left;color:#fff;background:#b3e803;
margin:15px 0 0 0;padding:5px 0 0 10px;cursor:pointer;}
#message{width:200px;height:300px;background:#dadada;margin:10px 0 0 20px;}
#message ul{list-style-type:none;margin:0;}
#message li{width:200px;height:40px;color:#3a3a3a;background:#fff;}
.message{width:30px;height:30px;float:left;background:#8eb900;}
.message_list{width:150px;height:30px;border:1px solid #8eb900;
float:right;margin:0 0 0 10px;}


#user_homepage{cursor:pointer;}

/*遮罩*/
#mask {position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=50);
opacity:0.5;z-index:998;}

/*实验发布*/
#pub_pro{display:none;width:600px;height:650px;position:absolute;z-index:999;background:#fff;
box-shadow:1px 1px 1px #888;border-radius:2px;}

/*实验发布左侧*/
#pub_left{float:left;}
.pro{display:inline-block;width:44px;height:26px;font-weight:bold;
color:#8eb900;padding:4px 0 0 10px; margin:0 0 0 35px;}
#title{width:250px;height:30px;margin:50px 0 0 5px;border:1px solid #888;}
#number{width:250px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}
#time{width:250px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}
#pay{width:250px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}
#city{width:60px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}
#city_change{width:80px;height:30px;margin:0;border:0px;border-radius:2px;background: #8eb900;color:#fff;cursor:pointer;}
#institute{width:250px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}
#place{width:250px;height:30px;margin:10px 0 0 5px;border:1px solid #888;}


#close{width:25px;height:25px;float:right;color:#fff;font-size:25px;border-radius:2px;
box-shadow:-1px 1px 1px #dcdcdc;background:#8eb900;padding:0px 0 8px 8px;cursor:pointer;}


/*海报*/
#exp_img{width:200px;height:280px;float:right;
margin: 50px 0 0 10px;}
#upload_img{display:none;}

#pic{float:left;width:180px;height:180px;position:relative;z-index:99;
margin:5px 0 0 10px;}
#change_pic{display:none;width:40px;height:26px;float:left;margin:5px 0 0 45px;
color:#fff;background:#8eb900;font-size:15px;padding:4px 0 0 10px;cursor:pointer;}
#close_pic{display:none;width:40px;height:26px;float:left;margin:5px 0 0 5px;
color:#fff;background:#8eb900;font-size:15px;padding:4px 0 0 10px;cursor:pointer;}
#pic_request{width:150px;margin:30px 0 0 25px;font-size:14px;color:red;}

/*是否设置时间表*/
#set_time_table{width:600px;margin:10px 0 0 0 ;float:left;}
#isset_box{width:300px;height:40px;margin:10px 0 0 45px;}
#isset_box span{font-size:17px;color:#8eb900;}
#isset_table{width:15px;height:15px;}

/*验证和提交信息*/
.pub_error label{display:inline-block;font-size:14px;color:red;margin:5px 0 0 60px;padding:0 0 0 35px;}
#result{margin:10px 0 0 35px;color:#8eb900;font-size:14px;}

/*时间表*/
#time_table1{display:block;width:550px;height:50px;background:#fff;margin:0 auto;
border-top:1px dashed #8eb900;border-bottom:1px dashed #8eb900;}
#time_table2{display:none;width:550px;height:50px;background:#fff;margin:0 auto;
border-top:1px dashed #8eb900;border-bottom:1px dashed #8eb900;}
#time_table3{display:none;width:550px;height:50px;background:#fff;margin:0 auto;
border-top:1px dashed #8eb900;border-bottom:1px dashed #8eb900;}
#time_table4{display:none;width:550px;height:50px;background:#fff;margin:0 auto;
border-top:1px dashed #8eb900;border-bottom:1px dashed #8eb900;}
#time_table5{display:none;width:550px;height:50px;background:#fff;margin:0 auto;
border-top:1px dashed #8eb900;border-bottom:1px dashed #8eb900;}
#exp_date{width:100%;height:40px;}
#exp_date1{background:#8eb900;color:#fff;margin:0 0 0 27px;}
#exp_date ul{list-style-type:none;}
.exp_date{width:105px;height:30px;float:left;margin:0 0 0 5px;;color:#8eb900;border:1px solid #8eb900;background:#fff;cursor:pointer;}
.delete_session{width:50px;height:29px;color:#fff;background:#8eb900;cursor:pointer;float:right;}
/*日期*/
#date1{display:none;}
#date2{display:none;}
#date3{display:none;}
#date4{display:none;}
#date5{display:none;}

/*时间段列表*/
#time_list1{list-style-type:none;}
#time_list1 li{height:30px;margin:10px 0 0 0;}
#time_list2{list-style-type:none;}
#time_list2 li{height:30px;margin:10px 0 0 0;}
#time_list3{list-style-type:none;}
#time_list3 li{height:30px;margin:10px 0 0 0;}
#time_list4{list-style-type:none;}
#time_list4 li{height:30px;margin:10px 0 0 0;}
#time_list5{list-style-type:none;}
#time_list5 li{height:30px;margin:10px 0 0 0;}
.session_num{display:inline-block;font-size:14px;width:70px;color:red;margin:0 15px 0 10px;}
.subject_num_span{display:inline-block;font-size:14px;width:70px;color:red;margin:0 15px 0 10px;padding:0 0 0 10px;}
.subject_num{border:1px solid #8eb900;width:50px;height:26px;margin:0 0 0 10px;}


/*添加时间段按钮*/
#add_btn1{width:580px;height:40px;margin:10px 0 0 0;}
#add_session1{width:80px;height:29px;float:right;color:#fff;background:#8eb900;margin:10px 27px 0 0;cursor:pointer;}

#add_btn2{width:580px;height:40px;margin:10px 0 0 0;}
#add_session2{width:80px;height:29px;float:right;color:#fff;background:#8eb900;margin:10px 27px 0 0;cursor:pointer;}

#add_btn3{width:580px;height:40px;margin:10px 0 0 0;}
#add_session3{width:80px;height:29px;float:right;color:#fff;background:#8eb900;margin:10px 27px 0 0;cursor:pointer;}

#add_btn4{width:580px;height:40px;margin:10px 0 0 0;}
#add_session4{width:80px;height:29px;float:right;color:#fff;background:#8eb900;margin:10px 27px 0 0;cursor:pointer;}

#add_btn5{width:580px;height:40px;margin:10px 0 0 0;}
#add_session5{width:80px;height:29px;float:right;color:#fff;background:#8eb900;margin:10px 27px 0 0;cursor:pointer;}

/*发布按钮*/
#sub{color:#fff;width:300px;height:30px;background:#8eb900;cursor:pointer;
margin:50px 0 0 150px;font-size:17px;box-shadow:1px 1px 1px #dcdcdc;border-radius:2px;}

/*底部*/
#foot{ height:100px; background-color:#dcdcdc;border-top:1px solid #dcdcdc;
}
#foot a{color:white; font-size:15px; }
#address{ float:left; width:100%;margin:20px 0  0 100px;}
#address ul{color:white;}
#address li{margin:10px;}
p{color:white;text-align:center;}
#copyright{float:left;width:100%;margin:20px auto 0 auto;   }

/*更换城市*/
#cities{display:none;z-index:1000;width:200px;height:60px;background:#fff;
border:1px solid #8eb900;position:relative;}
.cities{width:20px;height:15px;color:#8eb900;font-size:14px;cursor:pointer;}
